# MongoDB Atlas connection string.
# 1. Replace <db_password> with your actual database password.
# 2. Ensure the database name (e.g., "karibu-groceries") is in the path.
MONGO_URI=mongodb+srv://hdalemayehu_db_user:<db_password>@karibu-groceries-web-sy.6jbuflb.mongodb.net/karibu-groceries?appName=karibu-groceries-web-system
PORT=7000
JWT_SECRET=a-very-secure-and-random-secret-key-for-jwt
